extends ./component/layout.jade

block css

  link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.7.3/semantic.min.css')

  style(type='text/css').
    #wraper {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 0 0;
    }
    .input{
    width: 100%;
    margin: 2em 0;
    }
    .login {
    text-align:center;
    }
    .flow {
    display:none;
    }
    .flow .steps {
    width: 100%;
    }
    #msg.msg, #link.link {
    display:none;
    }
    body {
    background-image: url('http://lh4.ggpht.com/9zEQrQDRqWdQjdvTcRXCpjWmwI5mPn5s8QvBojLcgKT2fUdgRIZqhl3ykqZbThJolTyas7-073U1DRlqU84dcg');
    background-color: #ffffff;
    }
    .logo {
    background-image: url('http://lh4.ggpht.com/4dz8ESC5aEfkBDt4qN8U9-2Dm_PKznsi_8rYsGIjgV8feoknE-sMviCVc1AmA_OfbzAKT4vNjkatRa8_MvWd');
    width: 140px;
    height: 117px;
    margin: 50px auto 50px auto;
    }
    .top {
    background-image: url('http://lh4.ggpht.com/MNrKJzB8ZzRLvYEfW3abp02_3zJ5UY2eTqxzI42lv4kpkC7PEh-9hjCUl38tS6v3ngIjLpgU6ZWufZtQMBYPzw=h34');
    width: 100%;
    height: 34px;
    }
    .bottom {
    text-align: center;
    widows: 100%;
    height: 50px;
    background-color: #fababc;
    }
    .bottom p {
    line-height: 50px;
    font-size: 12px;
    color: #ffffff;
    }
    .bottom a {
    color: #545454;
    cursor: pointer;
    }
    .bottom a:hover {
    color: #000000;
    }
    ul {
    list-style-type:none;
    padding: 0;
    font-size: 15px;
    }
    p {
    font-size: 25px;
    color: #BA8A68;
    line-height: 40px;
    }
    h2 {
    text-align: center;
    }
    iframe {
    margin: 0 auto;
    display: block;
    }
    .flow-wraper {
    margin: 50px;
    }
  |     
  style.
    img {
    width: 100%;
    }
    .receiver {
    font-size: 30px;
    color: #5F5F5F;
    margin: 0 10px;
    }
    .emitter {
    font-size: 30px;
    color: #5F5F5F;
    margin: 0 10px;
    }
    .emitter:hover {
    color: #2A2A2A;
    }
    .d {
    background-image: url("http://lh6.ggpht.com/zq0TENaZmYeU8_RMSnwbH7cZjQW9zTxWgvupBwP3RFJRna0BOVl1XcUpZBidhGS9dC7WpQHnDRE4DFRgSsBGDQ");
    background-size: 100%;
    height: 358px;
    background-repeat: no-repeat;
    }
    .d div {
    margin: 75px 50px 40px 50px;
    }
    .aimg {
    margin-bottom: 100px;
    }
    .aimg h2 {
    margin-bottom: 30px;
    }
    #ads {
    background-color: #fababc;
    }
    .arrow {
    background-image: url('http://lh4.ggpht.com/tkiBGJGSt00KI_1Yaolmw8NApoZGZm869OkXDXxfKkaWUHDkK6rqtf67AAKPEI8oNI_iKtVfqBJtrY_6CDu5IPM');
    width: 19px;
    height: 26px;
    display: block;
    position: relative;
    top: -38px;
    left: 46px;
    }
    .scrollTop {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    /*text-align: center;*/
    background-color: #ffffff;
    color: #FBCCCD;
    cursor: pointer;
    }
    .scrollTop div{
    width: 41px;
    margin: auto;
    }
    .val_tit {
    color: #ffffff !important;
    font-size: 25px !important;
    margin-top: 40px !important;
    }
    .link_font {
    color: #333333;
    }
    .link_font:hover {
    color: #000000;
    }
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) {
    /* Styles */
    }
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
    /* Styles */
    }
block content
  .top
  #wraper.ui.compact.segment
    .logo
    .ui.vertical.segment(style='box-shadow: 0 0px 0 rgba(39,41,43,.15) inset;')
      .ui.page.grid(style='text-align: center;')
        .column.d(style='max-width: 700px;')
          div
            p
              | Hello =)
              span#receiver.receiver
              |  &#x4F60;&#x6536;&#x5230;&#x4E86; 
              a#emitter-a(href='')
                span#emitter.emitter
              |  &#x9001;&#x4F60;&#x7684;&#x4E00;&#x6BB5;&#x60C5;&#x4EBA;&#x7BC0;&#x79D8;&#x5BC6;&#x544A;&#x767D;&#xFF0C;&#x4F60;&#x53EF;&#x4EE5;&#x5230;&#x4EE5;&#x4E0B;&#x5E7E;&#x500B;&#x7DB2;&#x7AD9;&#x53BB;&#x901B;&#x901B;&#x770B;&#x6709;&#x4EC0;&#x9EBC;&#x9A5A;&#x559C;&#x5167;&#x5BB9;&#x5537;&#x3002;
            #go_activity.ui.facebook.button(style='margin: 0 auto;display: block;width: 213px;')
              | &#x73FE;&#x5728;&#x99AC;&#x4E0A;&#x5927;&#x8072;&#x8AAA;&#x611B;
              i.pointing.right.icon

    .ui.vertical.segment(style='box-shadow: 0 0px 0 rgba(39,41,43,.15) inset;')
      .ui.page.grid(style='text-align: center;')
        .sixteen.wide.column(style='max-width: 700px;')
          h3 &#x5099;&#x8A3B;&#xFF1A;
          ul
            li 1. &#x6B64;&#x6D3B;&#x52D5;&#x4E26;&#x4E0D;&#x652F;&#x63F4;&#x884C;&#x52D5;&#x88DD;&#x7F6E;&#xFF0C;&#x5EFA;&#x8B70;&#x4F7F;&#x7528;&#x96FB;&#x8166;&#x53BB;&#x5C0B;&#x627E;&#x59B3;(&#x4F60;)&#x7684;&#x795E;&#x79D8;&#x544A;&#x767D;&#x5167;&#x5BB9;&#x5537;&#x3002;
            |                     
            li 2. &#x9019;&#x662F;&#x5C08;&#x5C6C;&#x65BC;&#x59B3;(&#x4F60;)&#x7684;&#x79D8;&#x79D8;&#x544A;&#x767D;&#x53EA;&#x6709;&#x5728;&#x9019;&#x53F0;&#x96FB;&#x8166;&#x4E0A;&#x624D;&#x770B;&#x7684;&#x5230;&#xFF0C;&#x5EE3;&#x544A;&#x5C07;&#x6703;&#x6295;&#x653E;&#x5230;2/14&#x60C5;&#x4EBA;&#x7BC0;&#x7576;&#x5929;&#x70BA;&#x6B62;&#x3002;
            |                     
            li 3. &#x5982;&#x679C;&#x770B;&#x4E0D;&#x5230;&#x5EE3;&#x544A;&#x9808;&#x5148;&#x78BA;&#x8A8D;&#x505C;&#x6B62;&#x963B;&#x64CB;&#x5EE3;&#x544A;&#x8EDF;&#x9AD4;&#x624D;&#x80FD;&#x9032;&#x884C;&#x904A;&#x6232;&#x3002;
          span &#x5982;&#x679C;&#x59B3;(&#x4F60;)&#x4E0D;&#x60F3;&#x518D;&#x770B;&#x5230;&#x5EE3;&#x544A;&#xFF0C;&#x8ACB;
          #delete_ad.negative.ui.button(style='position: relative;top: -10px;left:10px;') &#x9EDE;&#x9078;&#x6211;&#x4E0D;&#x60F3;&#x770B;&#x5230;&#x544A;&#x767D;&#x7559;&#x8A00;

  #ads.ui.vertical.segment(style='box-shadow: 0 0px 0 rgba(39,41,43,.15) inset;')
    .ui.page.grid
      .ui.horizontal.divider.val_tit(style='font-size: 20px;')
        | &#x544A;&#x767D;&#x5EE3;&#x544A;&#x793A;&#x610F;&#x5716;
      .sixteen.wide.column
        .aimg
          h2
            | 1. 
            a#udn_font.link_font(href='http://udn.com/news/index', target='_blank') &#x806F;&#x5408;&#x65B0;&#x805E;&#x7DB2;
          a#udn_img(href='http://udn.com/news/story/7157/658260', target='_blank')
            img(src='http://lh6.ggpht.com/HqX6MrFn7P8kIlOXnn02jnjc7aymRza6C3hyURZdHlKTWCiP621khpmuYI-6CcY4kWRRB80vZngXQMr5toQPrQc=w1000', alt='')
        .aimg
          h2
            | 2. 
            a#nownews_font.link_font(href='http://www.nownews.com/', target='_blank') &#x4ECA;&#x65E5;&#x65B0;&#x805E;

          a#nownews_img.aimg(href='http://www.nownews.com/n/2015/01/17/1578435', target='_blank')
            img(src='http://lh6.ggpht.com/GYSKDtQvHSil0yDelj911kMdBOa-l8olljRgQOcOh8R_AdIzqjt9OdDfw0Db6j8eEoJzg-bimJ0l905jtPCTdg=w1000', alt='')
        .aimg
          h2
            | 3. 
            a#chinatimes_font.link_font(href='http://www.chinatimes.com/newspapers/2601', target='_blank') &#x4E2D;&#x6642;&#x96FB;&#x5B50;&#x5831;

          a#chinatimes_img.aimg(href='http://www.chinatimes.com/realtimenews/20150123004467-260410', target='_blank')
            img(src='http://lh6.ggpht.com/rM_wSaUeCI29eZXazmZ-V-HTLv2Quus71Ecg9yExZXlwSI2rhw6EgQB1OPaLZ52MlNBBeb_0coOuULc8AGZUig=w1000', alt='')
        .aimg
          h2
            | 4. 
            a#ltn_font.link_font(href='http://www.ltn.com.tw/', target='_blank') &#x81EA;&#x7531;&#x6642;&#x5831;&#x96FB;&#x5B50;&#x5831;

          a#ltn_img.aimg(href='http://news.ltn.com.tw/news/entertainment/breakingnews/1215389', target='_blank')
            img(src='http://lh4.ggpht.com/Q1AZ57xpWx7WmYpjoo1yqoPDTDAj45Qi8bCEYsAZXaGms7tri91dUYYyYaXMcuyP7BvUgD5dAmNE5WUoXtdLtA=w1000', alt='')

  #scrollTop.scrollTop
    div
      | TOP 
      span.arrow

  .bottom
    p
      | &copy; 2015 
      a#footer_tagtoo_website(href='http://www.tagtoo.com.tw/', style='margin: 5px;') Tagtoo &#x5854;&#x5716;&#x79D1;&#x6280;
      |  All copyright 
      a#footer_tagtoo_privacy(href='http://www.tagtoo.com.tw/privacy', style='margin: 5px;') &#x96B1;&#x79C1;&#x6B0A;&#x653F;&#x7B56;

  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.7.3/semantic.min.js')
  script(src='//ad.tagtoo.co/static/ad/js/cookie.js')
  script(src='//ad.tagtoo.co/static/ad/js/core.js')

  noscript
    iframe(src='//www.googletagmanager.com/ns.html?id=GTM-K3RG5R', height='0', width='0', style='display:none;visibility:hidden')

  script.
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K3RG5R');

  script.
    var VALENTINE = {
    num: 0,
    resourse: "/valentine/api/valentineinfo",
    id: undefined,
    photo: undefined,
    name: undefined,
    fbid: undefined,
    src: undefined,
    fake: {name: "周傑輪", commit: "哈摟", id: "72447883975", photo: "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-x…gda__=1432520886_c51aedd561e607dbcc9167ff21ce0cb6", who: "親愛的昆霖"},
    init: function () {
    this.id = Tagtoo.Core.decodeQueryData(document.location.href).id;
    this.id = (this.id) ? Number(this.id) : false;
    if(!this.id) {
    this.assign(this.fake);
    } else {
    this.cookie();
    this.src = document.location.origin + this.resourse + '/' + this.id;
    $.get(this.src, function(data,status){
    // console.log("Data: " + data + "\\nStatus: " + status);
    data = JSON.parse(data);
    // console.log(data)
    VALENTINE.assign(data);
    });
    }
    },
    cookie: function () {
    // console.log("cookie")
    if(!Tagtoo.Cookie.getItem("tags")) {
    Tagtoo.Cookie.setItem("tags","valentine");
    }
    if(!Tagtoo.Cookie.getItem("valentine_ids")) {
    var arr = [];
    arr.push(this.id)
    var str = JSON.stringify(arr);
    Tagtoo.Cookie.setItem("valentine_ids", str);
    } else {
    // 如果有同樣就不塞
    var ids = JSON.parse(Tagtoo.Cookie.getItem("valentine_ids")) || [];
    for (var i = 0; i < ids.length; i++) {
    // console.log(i)
    if(ids[i] == this.id) {
    return false
    }
    };
    // 直接 push
    ids.push(this.id);
    ids = JSON.stringify(ids);
    Tagtoo.Cookie.setItem("valentine_ids", ids);
    }
    },
    assign: function (data) {
    var url = "https://www.facebook.com/" + data.id;
    // console.log(url)
    $('#receiver').html(data.who);
    $('#emitter').html(data.name);
    $('#emitter-a').attr('href',url);
    }
    }
    var tagtoo_advertiser_id = 251;
    var tagtoo_ga = document.createElement('script');
    tagtoo_ga.type = 'text/javascript';
    tagtoo_ga.async = true;
    tagtoo_ga.src = '//ad.tagtoo.co/media/ad/track.js';
    var tagtoo_s = document.getElementsByTagName('script')[0];
    tagtoo_s.parentNode.insertBefore(tagtoo_ga, tagtoo_s);
    if (typeof TagtooTagManager == "undefined") {
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','TagtoodataLayer','GTM-MHN67X');
    TagtooTagManager = true;
    };
    $(function(){
    VALENTINE.init();
    $('#go_activity').click(function(){
    window.open('/valentine_game.html');
    });
    $('#delete_ad').click(function(){
    var ans = confirm("確定不想再看到告白留言?");
    if (ans) {
    // console.log('刪除')
    Tagtoo.Cookie.setItem('tags','');
    Tagtoo.Cookie.setItem('valentine_ids','[]');
    } else {
    return false
    }
    });
    $('#scrollTop').click(function(){
    $(window).scrollTop(300);
    });
    });
